extends base

block content
    p=errorMessage 
    form(method="POST")
        input(type="password", name="old", placeholder="Old Password")
        input(type="password", name="new1", placeholder="New Password")
        input(type="password", name="new2", placeholder="New Password Confirmation")
        input(type="submit" value="CHANGE PASSWORD")
