extends base.pug
include mixins/video

block content
    if loggedIn
        a4 
            a(href="/videos/upload") Video Upload
    each video in videos 
        +video(video) 
    else
        li nothing