extends base.pug
include mixins/video

block content
    a4 
        a(href="/videos/upload") Video Upload
    h1 Welcome Home Page!
    each video in videos 
        +video(video) 
    else
        div nothing